.glyphicon {
    font-size: xx-large;
}

.glyphicon-triangle-bottom {
    font-size: small;
}

.form-horizontal .form-group label {
    text-align: left;
}

.no-wrap {
    white-space: nowrap;
}


.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: red;
}
.navbar-inverse .navbar-brand {
    color: white;
}
#myHeader {
    background-color: darkred;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

#backColor {
    background-color: rgba(224, 207, 198, 0.69);

}

#alignCenter {
    margin: auto;
    width: 80%;

    /*padding: 10px;*/
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(224, 207, 198, 0.69);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: darkgrey;
}